@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "KnightWarrior";
    src: url("/font/KnightWarrior.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#touch-controls {
    display: none;
}

#attack {
    display: none;
}

@media (any-pointer: coarse) {
    #touch-controls {
        display: grid;
    }

    #attack {
        display: flex
    }

}

@media (orientation: landscape) {
    #app {
        display: flex;
    }

    #mobile {
        display: none;
    }
}

@media (orientation: portrait) {
    #app {
        display: none;
    }

    #mobile {
        display: flex;
    }
}
